.navbar {
  background-image: url("/natural_paper.png");
  background-repeat: repeat;
  background-size: auto;
  height: 110px;
}

.navbar-collapse.show {
  background-image: url("/natural_paper.png");
  background-repeat: repeat;
  background-size: auto;
  padding-bottom: 15px;
}

.navbar-collapse.show .nav-link {
  padding-left: 10px;
}

.navbar .navbar-brand {
  color: #474747;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #cccccc;
}
.navbar .navbar-text {
  color: #474747;
}
.navbar .navbar-text a {
  color: #cccccc;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #cccccc;
}
.navbar .navbar-nav .nav-link {
  color: #474747;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #cccccc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #cccccc;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #cccccc;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cccccc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cccccc;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cccccc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cccccc;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cccccc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cccccc;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cccccc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cccccc;
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #cccccc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #cccccc;
  background-color: #ffffff;
}

.navbar-brand {
  font-family: 'BenchNine';
  font-size: 350%;
  color: black;
}

.navbar-brand-short {
  font-family: 'BenchNine';
  font-size: 285%;
  color: black;
}

ul > li > a.nav-link {
  font-size: 120%;
}

.dropdown-menu {
  min-width: 20px !important;
}

.nav-link, .showimg, .panel-heading {
    cursor: pointer;
}

/* Treshold for changing long name to short */
.name-long {
	display: none;
}

.name-short {
	display: none;
}

@media screen and (min-width: 1088px) {
	.name-long {
		display: block;
	}
}

@media screen and (max-width: 1088px) {
	.name-short {
		display: block;
	}
}
